h1 {
  /*color: #369;*/
  font-family: "Phage Rough", Arial, Helvetica, sans-serif;
  font-size: 500%;
}

html {
  background-color: #dbd8d3;
}

@font-face {
  font-family: 'Dosis', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Dosis') format("opentype");
}

@font-face {
  font-family: 'Phage';
  src: url(../assets/fonts/Phage/Phage_Regular.otf) format("opentype");
}
