h1 {
  font-family: "Phage Rough", serif;
  font-size: 500%;
}

button {
  font-family: 'Dosis', sans-serif;
}

.start-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-sidenav {
  width: 200px;
}
.nested-sidenav {
  width: 150px;
}
